openapi: 3.0.0
info:
  title: Argent Bank API
  description: API for managing bank accounts and transactions
  version: 1.0.0
servers:
  - url: http://api.argentbank.com/v1

paths:
  /user/{userId}/accounts:
    get:
      security:
        - Bearer: []
      tags:
        - Account Module
      summary: Get user accounts
      description: API to get all accounts for the specified user
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user
      responses:
        "200":
          description: Accounts retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Account"
        "400":
          description: Invalid Fields
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /accounts/{accountId}/transactions:
    get:
      security:
        - Bearer: []
      tags:
        - Transaction Module
      summary: Get all transactions for the current month
      description: API to get all transactions for the current month for a specific account.
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          description: The ID of the account
      responses:
        "200":
          description: Transactions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Transaction"
        "400":
          description: Invalid Fields
        "500":
          description: Internal Server Error

  /transactions/{transactionId}:
    get:
      security:
        - Bearer: []
      tags:
        - Transaction Module
      summary: Get transaction details
      description: API to get the details of a specific transaction
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
          description: The ID of the transaction
      responses:
        "200":
          description: Transaction details retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        "400":
          description: Invalid Fields
        "404":
          description: Transaction not found
        "500":
          description: Internal Server Error
    put:
      security:
        - Bearer: []
      tags:
        - Transaction Module
      summary: Update a transaction
      description: API to update details of a specific transaction
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
          description: The ID of the transaction
      requestBody:
        description: Update transaction attributes
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionUpdate"
      responses:
        "200":
          description: Transaction updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        "400":
          description: Invalid Fields
        "404":
          description: Transaction not found
        "500":
          description: Internal Server Error

components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        email:
          type: string
          description: User email
        password:
          type: string
          description: User password
        firstName:
          type: string
          description: User first name
        lastName:
          type: string
          description: User last name
        userName:
          type: string
          description: User public name
    Login:
      type: object
      properties:
        email:
          type: string
          description: User email
        password:
          type: string
          description: User password
    ApiResponse:
      type: object
      properties:
        status:
          type: integer
        message:
          type: string
        body:
          type: object
          properties:
            id:
              type: string
            email:
              type: string
    LoginResponse:
      type: object
      properties:
        token:
          type: string
    UserProfile:
      type: object
      properties:
        userName:
          type: string
    Account:
      type: object
      properties:
        id:
          type: string
          description: Account ID
        type:
          type: string
          description: Type of account (e.g., "Checking", "Savings")
        balance:
          type: number
          format: double
          description: Account balance
        accountNumber:
          type: string
          description: Account number
    Transaction:
      type: object
      properties:
        id:
          type: string
          description: Transaction ID
        date:
          type: string
          format: date
          description: Transaction date
        description:
          type: string
          description: Transaction description
        amount:
          type: number
          format: double
          description: Transaction amount
        balance:
          type: number
          format: double
          description: Balance after transaction
        type:
          type: string
          description: Type of transaction (e.g., "Electronic", "Food", etc.)
        category:
          type: string
          description: Category of the transaction
        note:
          type: string
          description: Note about the transaction
    TransactionUpdate:
      type: object
      properties:
        category:
          type: string
        note:
          type: string
